# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# project specific (on4qz)
documentation/api/api_html
documentation/manual/manual_html

# RX/TX runtime logs and built binaries
src/log*.txt
src/log*.txt.
src/turbo*.log
src/turbo*txt
src/qsstv
src/test_turbo
src/test_turbo.cpp

# Debian build artefacts
debian/.debhelper/
debian/files
debian/qsstv/
debian/qsstv.debhelper.log
debian/qsstv.substvars
debian/debhelper-build-stamp
